.quarto-title-block .quarto-title-banner {
  background-image: url(img/corplogo120.png);
  background-size: 200px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
  color: #554838;
  background-color: #e2dfd0;
}

/* 
/* Force the title text to your dark brown */
header#title-block-header .title {
  color: #495c3f !important;
}
